@font-face {
    font-family: Londrina;
    src: url(./Londrina_Outline/LondrinaOutline-Regular.ttf);
}

@font-face {
    font-family: Unbuntu;
    src: url(./Ubuntu_Condensed/UbuntuCondensed-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    
    background-image: linear-gradient(
    #fcf6e4 0%,
    #fcf6e4 52%,
    rgb(10, 62, 34) 52%,
    rgb(10, 62, 34) 93%,
    #fcf6e4 93%,
    #fcf6e4 100%
    
    );
    background-size: cover;
    
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Unbuntu;
}

header h1 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-right: 870px;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 210px;
    font-size: 18px;
    font-weight: bolder;
}

li {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 35px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.highlight {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 45px;
    background-color: #f7b738;
    color: black;
    }

    .section1{
        font-family: Unbuntu;
    }

    .section1 h1{
        font-size: 130px;
        margin-left: 200px;
        margin-top: -130px;
        margin-bottom: 10px;
    }

    .section1 p{
        font-size: 20px;
        margin-left: 200px;
        margin-bottom: 15px;
        letter-spacing: 0.2px;
        line-height: 29px;
    }

    .section1 button{
        display: inline-block;
        padding: 8px 130px; 
        background-color: rgb(255, 95, 41);
        color: white;
        text-decoration: none;
        border-radius: 20px;
        font-size: 18px;
        border: 2px solid rgb(253, 93, 39);
        margin-left: 210px;
        margin-top: 20px;
        letter-spacing: 2px;
    }


    
    #green{
        z-index: -10;
        margin-top: 222px;
        max-height: 370px;
        width: 357px;
    }
    
    #black{
        margin-top: 587px; 
        max-height: 200px;
        width: 357px;
        z-index: -1;
    }
    
    #beige{
        z-index: -10;
        margin-top: 233px;
        max-height: 250px; 
        max-width: 250px;
        margin-left: calc(63% + 43px);
    
    }
    
    .section2 img{
        float: left;
        width: 399px;
        margin-left: calc(60% + 22px); 
        margin-top: 215px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .section2 h1{
        font-family: Unbuntu;
        color: white;
        margin-left: calc(62% + 20px); 
        font-size:55px;
        margin-top: -95px;
        margin-left: 1035px; 
    }
    
    .section2 #contact{
        font-family: Unbuntu;
        color: white;
        margin-left: calc(62% + 20px); 
        font-size:20px;
        margin-left: 970px; 
    }
    
    .bubble1{
        background-color: #f7b738;
        font-family: Unbuntu;
        border-radius: 35px;
        padding: 20px 45px;
        font-weight: bolder;
        float: right;
        margin-top: -445px;
        margin-right: 500px ;
        border-color: none; 
    }
    
    .bubble2{
        background-color: #f7b738;
        font-family: Unbuntu;
        border-radius: 35px;
        padding: 20px 45px;
        font-weight: bolder;
        float: right;
        margin-top: -305px;
        margin-right: 200px; 
        border: none;
    }
    
    #resume{
        font-family: Londrina;
        font-size: 140px;
        margin-left: calc(56% + 20px); 
        margin-top: -120px;
        line-height: .8;
        color: #FFD33F;
        z-index: -5;
        letter-spacing: 5px;
        position: absolute;
    }

.section3 h1{
    font-family: Unbuntu;
    font-size: 50px;
    font-weight: bolder;
    color: #FFD33F;
    margin-left: 180px;
}

.section3 h3{
    font-size: 25px;
    font-family: Unbuntu;
    color: white;
    margin-left:180px ;
    margin-top: 25px;
}

.section3 h5{
    font-size: 18px;
    
    font-family: Unbuntu;
    color: white;
    margin-left:306px ;
    margin-top: -35px;
    
}

.section3 p{
    font-size: 18px;
    font-family: Unbuntu;
    color: white;
    margin-left:306px ;
    margin-top: 5px;
    font-weight: lighter;
}

.section4 h1{
    font-family: Unbuntu;
    font-size: 50px;
    font-weight: bolder;
    color: #FFD33F;
    margin-left: 845px;
    margin-top: -50px;
}

.section4 h3{
    font-size: 25px;
    font-family: Unbuntu;
    color: white;
    margin-left: 865px;
    margin-top: -10px;
    
}
.section4 h3{
    font-size: 25px;
    font-family: Unbuntu;
    color: white;
    margin-left: 870px;
    margin-top: 25px;
    
}

.section4 h5{
    font-size: 18px;
    font-family: Unbuntu;
    color: white;
    margin-left: 865px;
    margin-top: 35px;
    float: right;
    
}


#pre-p{
    margin-left: 885px;
    margin-top: 15px;
    color: white;
}

.section4 p{
    margin-left: 965px;
    margin-top: 25px;
    color: white;
    font-family: Unbuntu;
}

.section4 img{
    width: 25px;
    height:25px;
    float:right;
    position: absolute;
    margin-left: 923px;
    margin-top: 23px;
}


.section5 h1{
    font-family: Unbuntu;
    font-size: 64px;
    font-weight: bolder;
    margin-left: 150px;
    margin-top: -90px;
}

.section5 h3{
    font-family: Unbuntu;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 160px;
    margin-top: 20px;
}

.section5 h5{
    font-family: Unbuntu;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 237px;
    margin-top: -38px;

}

.section5 p{
    font-family: Unbuntu;
    font-size: 18px;
    margin-left: 237px;
}

.section5 img{
    width: 600px;
    height: 450px;
    margin-left: 150px;
    float: left;
    z-index: -10;
    position: absolute;
}

