@font-face {
    font-family: Londrina;
    src: url(./Londrina_Outline/LondrinaOutline-Regular.ttf);
}

@font-face {
    font-family: Unbuntu;
    src: url(./Ubuntu_Condensed/UbuntuCondensed-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to top,
        #2d364a 0%,
        #2d364a 17%,
        #f0edfb 17%,
        #f0edfb 100%
    )
    } 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Unbuntu;
}

header h1 {
    font-weight: bold;
    color: #7771b0;
    margin-right: 820px;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 210px;
    font-size: 18px;
    font-weight: bolder;
}

li {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: #7771b0;
}

.highlight {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 45px;
    background-color: 6a6195;
    color: black;
    }

.special{
    font-family: Londrina;
    font-size: 180px;
    margin-left: 22%;
    line-height: 0.9;
    color: #6a6195;
    z-index: -999;
    letter-spacing: 5px;
}

.normal{
    font-family: Unbuntu;
    color: #7771b0;
    font-size: 180px;
    font-weight:bold;
    position: absolute;
    margin-left: 22%;
    margin-top: -230px

}

section img{
    float: left;
    width:510px;
    margin-left: 10%;
    margin-top: 132px;
    position: absolute;
    top: 0;
    left: 0;
}

.section3 p{
    background-color: #f0edfb ;
    font-family: Unbuntu;
    color: #7771b0;
    font-size: 35px;
    line-height: 1.7;
    position: absolute;
    z-index: 4;
    margin-top: -375px;
    margin-left: 56%;
    padding: 25px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    header h1 {
        margin-right: 20px; /* Adjust as needed */
    }

    header ul {
        margin-bottom: 20px; /* Adjust as needed */
    }

    .special,
    .normal {
        font-size: 100px; /* Adjust as needed */
        margin-left: 10%; /* Adjust as needed */
        margin-top: -130px; /* Adjust as needed */
    }

    section img {
        width: 100%; /* Adjust as needed */
        margin-left: 0; /* Adjust as needed */
        margin-top: 100px; /* Adjust as needed */
    }

    .section3 p {
        font-size: 20px; /* Adjust as needed */
        margin-top: -300px; /* Adjust as needed */
        margin-left: 10%; /* Adjust as needed */
    }
}